<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetDoctor.CSMatIO" version="1.0.3" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.11.0" targetFramework="net461" />
  <package id="MathNet.Numerics.MKL.Win" version="2.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>